<md-dialog ng-controller="rateCtrl">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools bg">
        <h2>Choose a category</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <center>
            <br><br><br>
            <p><b><span ng-click="personal()">Personal</span>  -  <span ng-click="social()">Social</span>  -  <span ng-click="goProf()">Professional</span></b></p>
            <br><br><br>
        </center>
    </md-dialog-content>
    </md-dialog-actions>
  </form>
</md-dialog>